body {
font: 100% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
background: #334;
background-image: linear-gradient(to bottom, #334, #445, #334);
color: #333335;
margin-bottom: 25px;
padding: 0;
}

.content {
max-width: 1400px;
padding: 0;
}

.title {
position: relative;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
color: #ccc;
text-align: center;
}

#post-list {
background-color: #eee;
box-shadow: 0px 10px 18px #112;
padding: 20px 20px 20px 20px;
margin-bottom: 10px;
}

#posting {
background-color: #eee;
box-shadow: 0px 10px 18px #112;
padding: 20px 20px 20px 20px;
margin-bottom: 10px;
}

p.summary { margin: 0px; margin-bottom: 12px; line-height: 125%; }

#posting p { margin-top: 12px; margin-bottom: 12px; line-height: 125%; }

.authors img { width: 35px; height: 35px; margin-right: 10px; float: left; }
.authors li { display:flex; clear: both; padding-top: 10px; }
.author-info img { width: 55px; height: 55px; margin-right: 10px; float: left;}
.author-info p { margin-bottom: 10px; }
.author-title { margin: 10px; }

.flair { font-size: 80%; color: #777; }
.about-author { padding: 10px; font-size: 90%; }

#post-list ul { list-style-type: none; padding: 0; margin: 0; }
#post-list li { padding-top: 0px; padding-bottom: 6px; }

.post-meta { color: #88888a; }
.post-meta a:link { color: #666; }
.post-meta a:visited { color: #666; }
.post-meta a:hover { color: #444; }
.post-icon { clear: both; float: left; margin-top: 5px; margin-right: 5px; }
.captionedimage { margin: auto; }

h2 {
margin-top: 2px;
margin-bottom: 0px;
font: 135% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
color: #000;
}

img.small-author { width: 35px; height: 35px; }

a { text-decoration: none; }
a:link { color: #00a; }
a:visited { color: #44c; }
a:hover { color: #66f; }

.visual-clear { display: block; clear: both; margin: 4px; }

.menu { color: #aaa; }
.menu ul { margin: 10px; padding: 0; list-style-type: none; }
.menu li { margin-top: 10px; }
.menu a { color: #aaa; }
.menu a:hover { color: #ddd; }

.menu-title { margin: 10px; color: #bbb; font-weight: bold; }

.menu-inner {
margin-bottom: 10px;
padding-bottom: 10px;
background: #445;
background-image: linear-gradient(to bottom right, #556, #334);
overflow: auto;
}

.bottom-notice a { color: #aaa; }
.bottom-notice a:hover { color: #ddd; }
.bottom-notice { margin-top: 15px; text-align: center; color: #888; }

.discuss { margin-top: 30px; margin-bottom: 10px; }

