<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="LOG"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="PD"/>
		<service name="Timer"/>
		<service name="File_system"/>
		<service name="Rtc"/>
	</parent-provides>

	<start name="vfs" caps="120">
		<resource name="RAM" quantum="10M"/>
		<provides><service name="File_system"/></provides>
		<config>
			<vfs>
				<tar name="coreutils-minimal.tar" />
				<tar name="bash-minimal.tar" />
				<tar name="make.tar" />
				<dir name="usr">
					<tar name="tclsh.tar" />
					<tar name="sed.tar" /> </dir>
				<dir name="dev">
					<log/>
					<dir name="pipe"> <pipe/> </dir>
					<rtc/>
				</dir>
				<dir name="tmp"> <ram/> </dir>
				<dir name="content"> <fs label="content"/> </dir>
				<dir name="html">    <fs label="website" writeable="yes"/> </dir>
				<tar name="genodians.tar"/>
			</vfs>

			<policy label_prefix="vfs_rom" root="/"/>
			<default-policy root="/" writeable="yes"/>
		</config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="fs_rom" caps="100">
		<binary name="cached_fs_rom"/>
		<resource name="RAM" quantum="10M"/>
		<provides> <service name="ROM"/> </provides>
		<config/>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="/bin/make" caps="1000">
		<resource name="RAM" quantum="32M"/>
		<exit propagate="yes"/>
		<config>
			<libc stdin="/dev/null" stdout="/dev/log" stderr="/dev/log"
			      rtc="/dev/rtc" pipe="/dev/pipe">
				<stack size="512K"/>
			</libc>
			<vfs>
				<dir name="dev"> <zero/> <null/> </dir>
				<fs/>
			</vfs>
			<arg value="/bin/make"/>
			<arg value="-k"/> <!-- keep going -->
			<arg value="-B"/> <!-- build all, ignore timestamps -->
			<env key="PATH" value="/bin:/usr/bin" />
		</config>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
			<service name="ROM" label_suffix=".lib.so"> <parent/> </service>
			<service name="ROM" label_last="/bin/make"> <child name="fs_rom"/> </service>
			<service name="ROM" label_prefix="/"> <child name="fs_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>
</config>
