<config>

	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Nic"/>
		<service name="Timer"/>
		<service name="Rtc"/>
	</parent-provides>

	<default-route> <any-service> <parent/> </any-service> </default-route>

	<default caps="100"/>

	<service name="Uplink">
		<default-policy> <child name="nic_router"/> </default-policy> </service>

	<start name="download_fs" caps="200">
		<binary name="vfs"/>
		<resource name="RAM" quantum="64M"/>
		<provides> <service name="File_system"/> </provides>
		<config>
			<vfs> <ram/> </vfs>
			<policy label_prefix="import -> fetchurl" root="/" writeable="yes"/>
			<policy label_prefix="import -> extract"  root="/"/>
		</config>
	</start>

	<start name="content_fs" caps="200">
		<binary name="vfs"/>
		<resource name="RAM" quantum="64M"/>
		<provides> <service name="File_system"/> </provides>
		<config>
			<vfs> <ram/> </vfs>
			<policy label_prefix="import -> extract"  root="/" writeable="yes"/>
			<policy label_prefix="import -> generate" root="/"/>
			<policy label_prefix="import -> wipe"     root="/" writeable="yes"/>
		</config>
	</start>

	<start name="website_fs" caps="200">
		<binary name="vfs"/>
		<resource name="RAM" quantum="64M"/>
		<provides> <service name="File_system"/> </provides>
		<config>
			<vfs> <ram/> </vfs>
			<policy label_prefix="import -> generate" root="/" writeable="yes"/>
			<policy label_prefix="lighttpd"           root="/"/>
		</config>
	</start>

	<start name="import" caps="3500">
		<binary name="sequence"/>
		<resource name="RAM" quantum="120M"/>
		<route>
			<service name="ROM" label="config">
				<parent label="import.config"/> </service>
			<service name="ROM" label="fetchurl -> config">
				<parent label="fetchurl.config"/> </service>
			<service name="ROM" label="wipe -> config">
				<parent label="wipe.config"/> </service>
			<service name="ROM" label="generate -> config">
				<parent label="generate.config"/> </service>
			<service name="ROM" label="extract -> config">
				<parent label="extract.config"/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="Nic">   <child name="nic_router"/> </service>
			<service name="File_system" label_prefix="fetchurl">
				<child name="download_fs"/> </service>
			<service name="File_system" label_prefix="extract -> download">
				<child name="download_fs"/> </service>
			<service name="File_system" label_prefix="wipe -> content">
				<child name="content_fs"/> </service>
			<service name="File_system" label_prefix="extract -> content">
				<child name="content_fs"/> </service>
			<service name="File_system" label_prefix="generate -> vfs -> content">
				<child name="content_fs"/> </service>
			<service name="File_system" label_prefix="generate -> vfs -> website">
				<child name="website_fs"/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="RM">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="Rtc">   <parent/> </service>
		</route>
	</start>

	<start name="nic_router">
		<resource name="RAM" quantum="10M"/>
		<provides>
			<service name="Nic"/>
			<service name="Uplink"/>
		</provides>
		<route>
			<service name="ROM" label="config">
				<parent label="nic_router.config"/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="Nic"> <parent/> </service>
			<service name="LOG"> <parent/> </service>
			<service name="PD">  <parent/> </service>
			<service name="CPU"> <parent/> </service>
			<service name="ROM"> <parent/> </service>
		</route>
	</start>

	<start name="lighttpd" caps="200">
		<resource name="RAM" quantum="64M" />
		<config>
			<arg value="lighttpd" />
			<arg value="-f" />
			<arg value="/etc/lighttpd/lighttpd.conf" />
			<arg value="-D" />
			<vfs>
				<dir name="dev">
					<log/>
					<null/>
					<rtc/>
					<jitterentropy name="random"/>
				</dir>
				<dir name="socket">
					<lxip dhcp="yes"/> </dir>
				<dir name="etc">
					<dir name="lighttpd">
						<rom name="example.pem"/>
						<rom name="lighttpd.conf" binary="no"/>
					</dir>
				</dir>
				<dir name="website">
					<fs/>
				</dir>
			</vfs>
			<libc stdin="/dev/null" stdout="/dev/log" stderr="/dev/log"
			      socket="/socket" rtc="/dev/rtc"/>
		</config>
		<route>
			<service name="Timer">       <parent/>       </service>
			<service name="Rtc">         <parent/>       </service>
			<service name="Nic">         <child name="nic_router"/>  </service>
			<service name="File_system"> <child name="website_fs"/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="RM">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="ROM">   <parent/> </service>
		</route>
	</start>

</config>
