<config>

	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Nic"/>
		<service name="Timer"/>
		<service name="Rtc"/>
	</parent-provides>

	<default-route> <any-service> <parent/> </any-service> </default-route>

	<default caps="100"/>

	<service name="Uplink">
		<default-policy> <child name="nic_router"/> </default-policy> </service>

	<start name="download_fs" caps="200">
		<binary name="vfs"/>
		<resource name="RAM" quantum="128M"/>
		<provides> <service name="File_system"/> </provides>
		<config>
			<vfs> <ram/> </vfs>
			<policy label_prefix="import -> fetchurl" root="/" writeable="yes"/>
			<policy label_prefix="import -> extract"  root="/"/>
		</config>
	</start>

	<start name="content_fs" caps="200">
		<binary name="vfs"/>
		<resource name="RAM" quantum="128M"/>
		<provides> <service name="File_system"/> </provides>
		<config>
			<vfs> <ram/> </vfs>
			<policy label_prefix="import -> extract"  root="/" writeable="yes"/>
			<policy label_prefix="import -> generate" root="/"/>
			<policy label_prefix="import -> wipe"     root="/" writeable="yes"/>
		</config>
	</start>

	<start name="website_fs" caps="200">
		<binary name="vfs"/>
		<resource name="RAM" quantum="126M"/>
		<provides> <service name="File_system"/> </provides>
		<config>
			<vfs> <ram/> </vfs>
			<!-- status: /genodians_manager/status.html -->
			<policy label_prefix="manager_fs_report -> " root="/" writeable="yes"/>
			<policy label_prefix="import -> generate"    root="/" writeable="yes"/>
			<policy label_prefix="lighttpd"              root="/"/>
		</config>
	</start>

	<start name="cert_fs" caps="100">
		<binary name="vfs"/>
		<resource name="RAM" quantum="8M"/>
		<provides> <service name="File_system"/> </provides>
		<config>
			<vfs>
				<ram/>
				<import>
					<dir name="public">  <rom name="fullchain.pem"/> </dir>
					<dir name="private"> <rom name="privkey.pem"/> </dir>
				</import>
			</vfs>
			<policy label_prefix="lighttpd"      root="/"       writeable="yes"/>
			<policy label_prefix="cert_fs_query" root="/public" writeable="no"/>
		</config>
	</start>

	<start name="cert_fs_query" caps="120">
		<binary name="fs_query"/>
		<resource name="RAM" quantum="2M"/>
		<config>
			<vfs>
				<dir name="fs"> <fs writeable="no"/> </dir>
			</vfs>
			<query path="/"/>
		</config>
		<route>
			<service name="File_system"> <child name="cert_fs"/> </service>
			<service name="Report"> <child name="manager_report_rom"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

	<start name="manager_report_rom" caps="100">
		<binary name="report_rom"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config verbose="no">
			<policy label="import -> config"   report="genodians_manager -> import.config"/>
			<policy label="lighttpd -> config" report="genodians_manager -> lighttpd.config"/>
			<policy label="genodians_manager -> import.state"     report="import -> state"/>
			<policy label="genodians_manager -> lighttpd.state"   report="lighttpd -> state"/>
			<policy label="genodians_manager -> nic_router.state" report="nic_router -> state"/>
			<policy label="genodians_manager -> fullchain.pem"    report="cert_fs_query -> listing"/>
			<policy label="genodians_manager -> fetch_lighttpd.report" report="fetch_lighttpd -> fetchurl -> progress"/>
		</config>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="manager_fs_report">
		<binary name="fs_report"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Report"/> </provides>
		<config> <vfs> <fs/> </vfs> </config>
		<route>
			<service name="File_system"> <child name="website_fs"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="fetch_lighttpd_report_rom" caps="100">
		<binary name="report_rom"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config verbose="no">
			<policy label="genodians_manager -> fetch_lighttpd.report" report="fetch_lighttpd -> fetchurl -> progress"/>
		</config>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="genodians_manager" caps="100">
		<resource name="RAM" quantum="8M"/>
		<config status_update_interval_sec="60">
			<lighttpd ram="64M" caps="300" heartbeat_ms="5000"/>
			<import update_interval_min="180" heartbeat_ms="3000">
				<fetchurl ram="48M" caps="300"/>
				<wipe     ram="48M" caps="1000"/>
				<extract  ram="48M" caps="300"/>
				<generate ram="64M" caps="1500"/>
			</import>
		</config>
		<route>
			<service name="ROM" label="fullchain.pem"> <child name="manager_report_rom"/> </service>
			<service name="ROM" label="import.state"> <child name="manager_report_rom"/> </service>
			<service name="ROM" label="lighttpd.state"> <child name="manager_report_rom"/> </service>
			<service name="ROM" label="nic_router.state"> <child name="manager_report_rom"/> </service>
			<service name="ROM" label="fetch_lighttpd.report"> <child name="fetch_lighttpd_report_rom"/> </service>
			<service name="Report" label="status.html"> <child name="manager_fs_report"/> </service>
			<service name="Report"> <child name="manager_report_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="import" caps="3700">
		<binary name="init"/>
		<resource name="RAM" quantum="130M"/>
		<route>
			<service name="ROM" label="config">
				<child name="manager_report_rom"/> </service>
			<service name="Report" label="state">
				<child name="manager_report_rom"/> </service>

			<service name="File_system" label_prefix="fetchurl">
				<child name="download_fs"/> </service>
			<service name="File_system" label_prefix="extract -> download">
				<child name="download_fs"/> </service>
			<service name="File_system" label_prefix="wipe -> content">
				<child name="content_fs"/> </service>
			<service name="File_system" label_prefix="extract -> content">
				<child name="content_fs"/> </service>
			<service name="File_system" label_prefix="generate -> vfs -> content">
				<child name="content_fs"/> </service>
			<service name="File_system" label_prefix="generate -> vfs -> website">
				<child name="website_fs"/> </service>

			<service name="Nic">   <child name="nic_router"/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="RM">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="Rtc">   <parent/> </service>
		</route>
	</start>

	<start name="nic_router" caps="120">
		<resource name="RAM" quantum="10M"/>
		<provides>
			<service name="Nic"/>
			<service name="Uplink"/>
		</provides>
		<route>
			<service name="Report"> <child name="manager_report_rom"/> </service>
			<service name="ROM" label="config">
				<parent label="nic_router.config"/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="Nic"> <parent/> </service>
			<service name="LOG"> <parent/> </service>
			<service name="PD">  <parent/> </service>
			<service name="CPU"> <parent/> </service>
			<service name="ROM"> <parent/> </service>
		</route>
	</start>

	<start name="lighttpd" caps="400">
		<binary name="init"/>
		<resource name="RAM" quantum="66M"/>
		<route>
			<service name="ROM" label="config">
				<child name="manager_report_rom"/> </service>
			<service name="Report" label="state">
				<child name="manager_report_rom"/> </service>
			<service name="File_system" label="cert">
				<child name="cert_fs"/> </service>
			<service name="File_system" label="website">
				<child name="website_fs"/> </service>
			<service name="Nic">   <child name="nic_router"/>  </service>
			<service name="Timer"> <parent/> </service>
			<service name="Rtc">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="RM">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="ROM">   <parent/> </service>
		</route>
	</start>

	<start name="fetch_lighttpd" caps="500">
		<binary name="sequence"/>
		<resource name="RAM" quantum="16M"/>
		<config repeat="yes" keep_going="yes">
			<start name="fetchurl" caps="300">
				<resource name="RAM" quantum="8M"/>
				<config verbose="no" ignore_failures="no" progress_timeout="3000">
					<report progress="yes" delay_ms="5000"/>
					<vfs>
						<dir name="dev">
						<log/> <null/> <inline name="rtc">2025-05-01 00:00</inline>
						<inline name="random">0123456789012345678901234567890123456789</inline>
						</dir>
						<dir name="pipe"> <pipe/> </dir>
						<dir name="socket"> <lxip dhcp="yes"/> </dir>
					</vfs>
					<libc stdout="/dev/log" stderr="/dev/log" rtc="/dev/rtc"
					      rng="/dev/random" socket="/socket" pipe="/pipe"/>
					<fetch head="yes" url="http://10.0.1.2/rss" path="/dev/null" retry="0"/>
				</config>
			</start>
			<start name="sleep" caps="100">
				<resource name="RAM" quantum="2M"/>
				<binary name="dummy"/>
				<config>
					<sleep ms="20000"/> <!-- 20s -->
					<log string="next fetch_lighttpd"/>
					<exit/>
				</config>
			</start>
		</config>
		<route>
			<service name="Timer"> <parent/> </service>
			<service name="Nic">   <child name="nic_router"/> </service>
			<service name="Report"> <child name="fetch_lighttpd_report_rom"/> </service>
			<service name="LOG">   <parent label="fetch_lighttpd"/> </service>
			<service name="PD">    <parent/> </service>
			<service name="RM">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="Rtc">   <parent/> </service>
		</route>
	</start>

</config>
