<config repeat="yes">

	<start name="fetchurl" caps="300">
		<resource name="RAM" quantum="48M"/>
	</start>

	<start name="wipe" caps="1000">
		<resource name="RAM" quantum="48M"/>
		<binary name="init"/>
	</start>

	<start name="extract" caps="300">
		<resource name="RAM" quantum="48M"/>
	</start>

	<start name="generate" caps="1000">
		<resource name="RAM" quantum="48M"/>
		<binary name="noux"/>
		<config verbose="no" stdin="/dev/null" stdout="/dev/log" stderr="/dev/log">
			<fstab>
				<tar name="coreutils-minimal.tar" />
				<tar name="bash-minimal.tar" />
				<tar name="make.tar" />
				<dir name="usr"> <tar name="tclsh.tar" /> </dir>
				<dir name="dev"> <log/> <null/> </dir>
				<dir name="tmp"> <ram/> </dir>
				<dir name="content"> <fs label="content"/> </dir>
				<dir name="html">    <fs label="website" writeable="yes"/> </dir>
				<tar name="genodians.tar"/>
			</fstab>
			<start name="/bin/make">
				<arg value="-k"/> <!-- keep going -->
				<arg value="-B"/> <!-- build all, ignore timestamps -->
			</start>
		</config>
	</start>

	<start name="sleep" caps="100">
		<resource name="RAM" quantum="4M"/>
		<binary name="dummy"/>
		<config>
			<log string="sleeping..."/>
			<sleep ms="900000"/> <!-- 15 min -->
			<log string="woke up"/>
			<exit/>
		</config>
	</start>

</config>
