<config repeat="yes">

	<start name="fetchurl" caps="300">
		<resource name="RAM" quantum="48M"/>
	</start>

	<start name="wipe" caps="1000">
		<resource name="RAM" quantum="48M"/>
		<binary name="init"/>
	</start>

	<start name="extract" caps="300">
		<resource name="RAM" quantum="48M"/>
	</start>

	<start name="generate" caps="1500">
		<resource name="RAM" quantum="48M"/>
		<binary name="init"/>
	</start>

	<start name="sleep" caps="100">
		<resource name="RAM" quantum="4M"/>
		<binary name="dummy"/>
		<config>
			<log string="sleeping..."/>
			<sleep ms="900000"/> <!-- 15 min -->
			<log string="woke up"/>
			<exit/>
		</config>
	</start>

</config>
