<!--

  NIC router configuration

  - Forward http and https requests (TCP ports 80 and 443) to lighttpd
  - Don't allow lighttpd to initiate TCP connections
  - Don't allow lighttpd to send UDP or ICMP packets
  - Allow fetchurl to open TCP connections

 -->

<config verbose_domain_state="no" verbose_packets="no">
	<report interval_sec="5" bytes="yes" config="yes"/>
	<policy label_prefix="lighttpd"           domain="lighttpd"/>
	<policy label_prefix="fetch_lighttpd"     domain="fetch_lighttpd"/>
	<policy label_prefix="import -> fetchurl" domain="fetchurl"/>
	<policy label_prefix="drivers -> nic -> " domain="uplink"/>
	<domain name="uplink">
		<nat domain="fetchurl" tcp-ports="1000" udp-ports="1000" icmp-ids="1000"/>
		<nat domain="lighttpd" tcp-ports="1000" udp-ports="1000" icmp-ids="1000"/>
		<tcp-forward port="80"  domain="lighttpd" to="10.0.1.2" />
		<tcp-forward port="443" domain="lighttpd" to="10.0.1.2" />
	</domain>
	<domain name="lighttpd" interface="10.0.1.1/24">
		<dhcp-server ip_first="10.0.1.2" ip_last="10.0.1.200" dns_config_from="uplink"/>
	</domain>
	<domain name="fetch_lighttpd" interface="10.0.42.1/24">
		<dhcp-server ip_first="10.0.42.2" ip_last="10.0.42.2" dns_config_from="uplink"/>
		<tcp  dst="10.0.1.2/24"> <permit-any domain="lighttpd"/> </tcp>
	</domain>
	<domain name="fetchurl" interface="10.0.3.1/24">
		<dhcp-server ip_first="10.0.3.2" ip_last="10.0.3.200" dns_config_from="uplink"/>
		<tcp  dst="0.0.0.0/0"> <permit-any domain="uplink"/> </tcp>
		<udp  dst="0.0.0.0/0"> <permit-any domain="uplink"/> </udp>
		<icmp dst="0.0.0.0/0" domain="uplink"/>
	</domain>
</config>
